* {
    font-family: "Century Gothic", sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    padding: 5px;
    text-align: center;
    font-size: 25px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #4CAF50;
    color: white;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 1px 6px;
}

.button-update {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button-update:hover {
    background-color: #008CBA;
    color: white;
}

.button-delete {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

.button-delete:hover {
    background-color: #f44336;
    color: white;
}

.button-add {
    padding: 8px 16px;
    margin-bottom: 15px;
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
    font-size: 16px;
}

.button-add:hover {
    background-color: white;
    color: black;
}

/* Add padding to containers */
.container {
    padding: 16px;
    background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.save-btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.save-btn:hover {
    opacity: 1;
}

a {
    color: dodgerblue;
    text-decoration-line: none;
}

form {
    -webkit-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.7);
}

.flash {
    animation: flashAnimation 6s ease-in-out 1 alternate backwards;
}

@keyframes flashAnimation {
    0% {
        background-color: inherit;
    }

    10%,
    90% {
        background-color: #ffb606;
    }

    100% {
        background-color: inherit;
    }
}

.button-modal {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.button-modal:hover {
    opacity: 1;
}

/* Float cancel and delete buttons and add an equal width */
.cancel-btn, .delete-btn {
    float: left;
    width: 50%;
}

/* Add a color to the cancel button */
.cancel-btn {
    background-color: #ccc;
    color: black;
}

/* Add a color to the delete button */
.delete-btn {
    background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
    padding: 16px;
    text-align: center;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Modal Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}