<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer List</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<header>
    <h2>Customer Relationship Manager</h2>
</header>
<label>
    <input class="button button-add" onclick="toAddCustomer()"
           value="Add Customer"/>
</label>
<section>
    <article>
        <table id="customers-table">
            <thead>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${!customers.iterator().hasNext()}">
                <td class="text-center" colspan="5">No data available at this moment.</td>
            </tr>
            <tr th:each="customer : ${customers}" th:id="|customer-${customer.getId()}|">
                <td th:text="${customer.getLastName()}">Dela Cruz</td>
                <td th:text="${customer.getFirstName()}">Juan</td>
                <td th:text="${customer.getEmail()}">sample@email.com</td>
                <td>
                    <a class="button button-update" th:href="@{/customer/{id}/update(id=${customer.id})}">Update</a>
                    <a class="button button-delete" th:data-full-name="${customer.getFullName()}"
                       th:data-id="${customer.id}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </article>
</section>
<div class="modal" id="modal">
    <span class="close" onclick="closeDeleteModal()" title="Close Modal">×</span>
    <form action="#" class="modal-content" id="delete-form">
        <div class="container text-center">
            <h1>Delete Customer</h1>
            <p>Are you sure you want to delete this customer?</p>
            <p><strong id="customer-name">Juan Dela Cruz</strong></p>
            <div class="clearfix">
                <button class="button-modal cancel-btn" onclick="closeDeleteModal()" type="button">
                    Cancel
                </button>
                <button class="button-modal delete-btn" onclick="closeDeleteModal()" type="submit">
                    Yes, Delete This!
                </button>
            </div>
        </div>
    </form>
</div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        flashRow()
        initPieSocket()
        initDeleteButton()
        userName = `user_${getRandomNumber()}`
    })

    document.addEventListener('scroll', function () {
        clearTimeout(scrollTimeout)
        scrollTimeout = setTimeout(function () {
            if (element) {
                element.classList.add('flash')
            }
        }, 100)
    })

    function initDeleteButton() {
        Array.from(document.getElementsByClassName('button-delete')).forEach(function (element) {
            element.addEventListener('click', function () {
                let fullName = this.getAttribute('data-full-name')
                let id = this.getAttribute('data-id')
                openDeleteModal(fullName, id)
            })
        })
    }

    let scrollTimeout
    let element
    let pieSocket
    let userName
    let channelID = 2
    let socketApiKey = 'sdboILvx2pCHn49LXhwo4tTYzOFtLfm0vneolhfs'

    function isScrollable() {
        return document.body.clientHeight > document.documentElement.clientHeight
    }

    function closeDeleteModal() {
        document.getElementById('modal').style.display = 'none'
    }

    function openDeleteModal(fullName, id) {
        document.getElementById('modal').style.display = 'block'
        document.getElementById('customer-name').innerText = fullName
        document.getElementById('delete-form').action = `/customer/${id}/delete`
    }

    function flashRow() {
        element = getHashElement()
        if (element && isScrollable()) {
            element.scrollIntoView()
        } else if (element) {
            element.classList.add('flash')
        }
    }

    function getHashElement() {
        return document.getElementById(`customer-${getHashValue()}`)
    }

    function getHashValue() {
        return window.location.hash.substr(1)
    }

    function toAddCustomer() {
        window.location.href = 'add'
    }

    function getRandomNumber() {
        return Math.floor(Math.random() * 1000)
    }

    function initPieSocket() {
        pieSocket = new WebSocket(`wss://connect.websocket.in/v3/${channelID}?api_key=${socketApiKey}`)
        pieSocket.onmessage = (message) => {
            const {event, text} = JSON.parse(message.data)
            if (event === 'add_customer') {
                console.log(`New Data Added By : ${userName}`)
                updateContent(text)
            } else if (event === 'update_customer') {
                console.log(`Customer with id : ${text.id} has been updated by user ${userName}`)
                updateContent(text, true)
            } else if (event === 'delete_customer') {
                console.log(`Customer with id : ${text.id} has been deleted by user ${userName}`)
                let row = document.getElementById(`customer-${text.id}`)
                row.parentNode.removeChild(row)
            }
        }
        pieSocket.onopen = () => {
            socketResponse()
        }
    }

    function socketResponse() {
        let operation = window.location.search.replace("?", "")
        let element = getHashElement()
        let customer
        if (element) {
            customer = {
                id: getHashValue(),
                firstName: element.cells[0].innerText,
                lastName: element.cells[1].innerText,
                email: element.cells[2].innerText
            }
        }
        if (operation === 'save') {
            pieSocket.send(JSON.stringify({
                event: 'add_customer',
                sender: userName,
                text: customer
            }))
        } else if (operation === 'update') {
            pieSocket.send(JSON.stringify({
                event: 'update_customer',
                sender: userName,
                text: customer
            }))
        } else if (operation === 'delete') {
            pieSocket.send(JSON.stringify({
                event: 'delete_customer',
                sender: userName,
                text: {
                    id: getHashValue()
                }
            }))
        }
    }

    function updateContent(customer, isUpdate = false) {
        let element = document.getElementById('customers-table')
            .getElementsByTagName('tbody')[0].insertRow()
        if (isUpdate) {
            element = document.getElementById(`customer-${customer.id}`)
        }
        element.setAttribute("id", `customer-${customer.id}`)
        element.innerHTML =
            `<tr>
                <td>${customer.firstName}</td>
                <td>${customer.lastName}</td>
                <td>${customer.email}</td>
                <td>
                    <a class="button button-update" href="/customer/${customer.id}/update">Update</a>
                    <a class="button button-delete" data-full-name="${customer.lastName}, ${customer.firstName}" data-id="${customer.id}">Delete</a>
                </td>
            </tr>`
        initDeleteButton()
    }
</script>
</html>