<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer List</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<header>
    <h2>Customer Relationship Manager</h2>
</header>
<label>
    <input class="button button-add" onclick="addCustomer()"
           value="Add Customer"/>
</label>
<section>
    <article>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${!customers.iterator().hasNext()}">
                <td colspan="5">No data available at this moment.</td>
            </tr>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.getId()}">1</td>
                <td th:text="${customer.getFirstName()}">Juan</td>
                <td th:text="${customer.getLastName()}">Dela Cruz</td>
                <td th:text="${customer.getEmail()}">sample@email.com
                <td>
                    <button class="button button-update" th:value="${customer.getId()}">Update</button>
                    <button class="button button-delete" th:value="${customer.getId()}">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </article>
</section>
</body>
<script>
    function addCustomer() {
        window.location.href = 'add'
        return false
    }
</script>
</html>