<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer List</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<header>
    <h2>Customer Relationship Manager</h2>
</header>
<label>
    <input class="button button-add" onclick="addCustomer()"
           value="Add Customer"/>
</label>
<section>
    <article>
        <table>
            <thead>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${!customers.iterator().hasNext()}">
                <td colspan="5">No data available at this moment.</td>
            </tr>
            <tr th:each="customer : ${customers}" th:id="|customer-${customer.getId()}|">
                <td th:text="${customer.getLastName()}">Dela Cruz</td>
                <td th:text="${customer.getFirstName()}">Juan</td>
                <td th:text="${customer.getEmail()}">sample@email.com
                <td>
                    <a class="button button-update" th:href="@{/customer/{id}/update(id=${customer.id})}">Update</a>
                    <a class="button button-delete">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </article>
</section>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        flashRow()
    });

    let scrollTimeout;
    let element;

    function flashRow() {
        let hash = window.location.hash.substr(1)
        element = document.getElementById(`customer-${hash}`)
        if (element) {
            element.scrollIntoView();
        }
    }

    document.addEventListener('scroll', function(event) {
        clearTimeout(scrollTimeout);
        scrollTimeout = setTimeout(function() {
            element.classList.add("flash");
        }, 100);
    });

    function addCustomer() {
        window.location.href = 'add'
        return false
    }
</script>
</html>