<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer Update</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<header>
    <h2>Customer Relationship Manager</h2>
</header>
<section>
    <article>
        <form method="POST" th:action="@{/customer/save}" th:object="${customer}">
            <div class="container">
                <h1>Update</h1>
                <p>Keep your information up to date!</p>
                <hr>

                <label for="first-name"><b>First Name</b>
                    <input id="first-name" placeholder="Enter firstname" required th:field="*{firstName}"
                           type="text"/>
                </label>

                <label for="last-name"><b>Last Name</b></label>
                <input id="last-name" placeholder="Enter lastname" required th:field="*{lastName}"
                       type="text"/>

                <label for="email"><b>Email</b></label>
                <input id="email" placeholder="Enter email" required th:field="*{email}" type="email">

                <hr>
                <p><a th:href="@{/customer/list}">Back to list</a></p>
                <button class="save-btn" type="submit">Save</button>
            </div>
        </form>
    </article>
</section>
</body>
</html>